.register-wrapper {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.no-account {
  width: 600px;
  font-size: 18px;
  margin: 0 auto;
  & span {
    font-weight: 500;
    color: rgb(56, 102, 223);
  }
}
