<div class="register-wrapper">
  <mat-card>
    <h2>Create an account</h2>
    <mat-card-content>
      <form [formGroup]="myForm">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Name</mat-label>
          <input
            type="text"
            name="name"
            formControlName="name"
            matInput
            placeholder="Ex. pat@example.com"
          />
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input
            type="email"
            formControlName="email"
            matInput
            placeholder="Ex. pat@example.com"
          />
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>User Name</mat-label>
          <input
            type="text"
            name="username"
            formControlName="userName"
            matInput
            placeholder="Ex. pat@example.com"
          />
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Password</mat-label>
          <input
            name="password"
            type="password"
            formControlName="password"
            matInput
          />
        </mat-form-field>
        <button type="submit" mat-button>Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<div class="no-account">
  <p>Already have an account? <a routerLink="/login">Sign In</a></p>
</div>
