.prodcut-details {
  width: 60%;
  margin: 5px auto 5px;

  &__card {
    box-shadow: 3px 3px 50px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    border-bottom-left-radius: 0;
  }

  &__image {
    height: auto;
    width: 300px;
    margin: 0px auto 60px !important;
    display: block;
  }
}
