<div class="navbar-container">
  <span class="logo" routerLink="/">eTrade</span>
  <div class="navbar-left">
    <div class="navbar-left__item">
      <a routerLink="/cart">
        <span class="navbar-left__text">{{ cartCount }}</span>
        <mat-icon class="navbar-left__icon">shopping_cart</mat-icon>
      </a>
    </div>
    <div class="navbar-left__item">
      <a routerLink="/register">
        <mat-icon class="navbar-left__icon">person_add</mat-icon>
        <span class="navbar-left__text">Register</span>
      </a>
    </div>
    <div class="navbar-left__item">
      <a routerLink="/login">
        <mat-icon class="navbar-left__icon">account_circle</mat-icon>
        <span class="navbar-left__text">Login</span>
      </a>
    </div>
  </div>
</div>
