<div class="navbar-container">
  <span class="logo" routerLink="/">eTrade</span>
  <div class="navbar-left">
    <div class="navbar-left__text">
      <a routerLink="/register"
        ><mat-icon class="mat-icon notranslate material-icons mat-icon-no-color"
          >person</mat-icon
        >Register</a
      >
    </div>
    <div class="navbar-left__text">
      <a routerLink="/login"
        ><mat-icon class="mat-icon notranslate material-icons mat-icon-no-color"
          >person</mat-icon
        >Login</a
      >
    </div>
  </div>
</div>
