.wish-card {
  width: 250px;
  display: flex;
  flex-wrap: nowrap;
  margin: 10px 0;

  &__image {
    width: 50px;
    margin-right: 20px;
  }

  &__title {
    width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 500;
  }

  &__btn {
    width: 50px;
    color: #ff1100;
  }
}
