<div [ngClass]="'product-card'">
  <a [routerLink]="['/product', product.id]">
    <figure class="product-card__image">
      <img [src]="product.image" alt="Photo of a Shiba Inu" />
    </figure>
    <div class="product-card__description">
      <span class="product-card__category">{{ product.category }}</span>
      <h4 class="product-card__title">{{ product.title }}</h4>
      <div class="product-card__cta">
        <p class="product-card__price">{{ product.price | currency }}</p>
        <div class="product-btn">
          <button mat-icon-button (click)="addToWishList($event)">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-button (click)="addToCard($event)">Add To Card</button>
        </div>
      </div>
    </div>
  </a>
</div>
