<div [ngClass]="'product-card'">
  <a [routerLink]="['/product', productId]">
    <figure class="product-card__image">
      <img [src]="productImage" alt="Photo of a Shiba Inu" />
    </figure>
    <div class="product-card__description">
      <span class="product-card__category">{{ productCategory }}</span>
      <h4 class="product-card__title">{{ productTitle }}</h4>
      <div class="product-card__cta">
        <p class="product-card__price">{{ productPrice | currency }}</p>
        <button mat-button>Add To Card</button>
      </div>
    </div>
  </a>
</div>
